$primary-color: #0078fe;

.flex_main {
  padding-top: 40px;
  margin-left: 230px;

  .card {
    margin-bottom: 40px;
    width: 540px;
    border: lightgrey 0.5px solid;
    border-radius: 12px;
  }
}
